@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";

.heading{
  @apply text-2xl font-bold;
  font-family: var(--oswald), sans-serif;
}

@theme {
  --animate-slide: slideDown 0.5s ease-out;
  --animate-slide-end: slideDown 0.5s ease-out forwards;
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}


:root {
    --bg-color-dark: #111827;
    --bg-color: #00111A;
    --bg-color-sec: #00141F;
    --oswald: "Oswald", sans-serif;
    --sb-size: 7px;
}

body{
  background: var(--bg-color-dark);
  color: white;

}

/* App.css */
.top-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  z-index: 9999;
  overflow: hidden;
}

.top-loader::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  background-color: #1a73e8;
  animation: indeterminate 2s infinite;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar::-webkit-scrollbar {
    width: var(--sb-size);
}

.scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-500;
    border-radius: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
    border-radius: 3px;
}

/*@supports not selector(::-webkit-scrollbar) {*/
/*    .scrollbar {*/
/*        scrollbar-color: var(#6BAF8D) var(#232E33;*/
/*    }*/
/*}*/

Copy code

@keyframes indeterminate {
  0% {
    left: -40%;
    width: 40%;
  }
  50% {
    left: 20%;
    width: 60%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}
