@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";

.heading{
  @apply text-2xl font-bold font-(family-name: var(--oswal));
  font-family: var(oswald);
}


:root {
  --bg-color-dark: #000E14;
  --bg-color: #00111A;
  --bg-color-sec: #00141F;
  --oswal: "Oswald", sans-serif;
}

body{
  background: var(--bg-color-dark);
  color: white;
}